img {
    width: 200px;
}

body {
    margin: 0;
}

header {
    width: 100%;
    margin: 30px 0 0 0;
}

.headerImg {
    width: 100%;
    margin: 0 auto;
}

.imageBody{
    width: 160px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 70px;
    float: left;
}

.gameBody{
    width: 160px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    float: left;
}

.container{
    height: 500px;
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    border: 2px solid black;
}
